/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************

CUSTOM CSS

****************/

/**FONTs
font-family: adobe-handwriting-tiffany, sans-serif;
font-weight: 400;
font-style: normal;

font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
**/

header,
footer,
body{
	color: #3E2614;
	margin: 0 auto;
}

header a ,
footer a,
body a{
	text-decoration: none;
	color: #3E2614;
}

h1{
	font-family: adobe-handwriting-tiffany, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2rem;
    padding: 30px;
}


/***************

Header

****************/

/****NAV*****/

.topnav{
	text-align: left;
	padding: 20px;
	float: left;
}

.hamburger{
	color:#BE6328;
	font-size: 2em;
}

.hamburger:hover{
	color:#3E2614;
}

.hamburger-menu{
	display:none;
	position: absolute;
	background-color: #3E2614;
	z-index:1;
}

.hamburger-menu a{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 12px 16px;
	color:#D9D1C6;
	display: block;
	text-align: center;
}

.hamburger-menu a:hover{
	background-color: #8FA698;
	border:#3E2614 solid 5px;
	color: #3E2614;
}

.topnav:hover .hamburger-menu{
	display: block;
}

#main-menu{
	display: none;
}




/***************

Footer

****************/

footer{
	background-color: #8FA698;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
    padding-top: 20px;
}

footer a{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
}

footer h4{
	display: inline;
	padding: 10px;
}

footer p{
	padding: 10px;
}

.large_footer_nav{
	display: none;
}

/***************

Index, SignUp, Login, and Logout Pages

****************/

.cover_container{
	background-image: url(../images/leather_background.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position-x: center;
	text-align: center;
}

.cover_container_welcome,
.index-login,
.index-logout{
	background-color: #D9D1C6;
	padding: 10%;
	margin-top: 50px;
}

.cover_container_welcome p{
	margin: 10px auto;
}

.cover_container header{
	background-color: #8FA698;
}

.cover_container img{
	padding-left: 7%;
	max-width: 60%;
}

.welcome_footer{
	position: absolute;
}

.index-logout a,
.index-login a,
.cover_container_welcome a{
	background-color: #3E2614;
	color: #BEB18F;
    padding: 15px 50px;
    border-radius: 5px;
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.index-logout h2,
.index-login h2{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 10px;
	font-size: 1.2em;

}

.index-logout p,
.index-login p{
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 15px;
	
}

.index-login form input{
	border: 5px #BE6328 solid;
	display:block;
	margin: 10px auto;
}

form button{
	background-color: #3E2614;
	color: #BEB18F;
    padding: 15px 60px;
    border-radius: 5px;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1rem;
	border-style: none;
	margin: 10px auto;

}

input[type="text" i], input[type="password"]{
	color:#3E2614;
	padding: 5px;
	text-align: center;
	font-size: 1rem;
}



/***************

Main, AddLinks, Location, Packing Pages

****************/

.journal_container{
	background-image: url(../images/paper_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	text-align: center;
}

.journal_container header{
	background-color: #8FA698;
}


.main_logo{
	max-width: 300px;
	padding: 20px 0;
}

/***************

Main page

****************/

/***************

Packing List Page

****************/

#spring-fall-list,
#winter-list,
#summer-list{
	display:none;
}

#noteSection{
	border: 5px #BE6328 solid;
	padding: 10px;
    margin: 10px;
}


/***************

Travel Information Page

****************/

/***************

Additional Information Page

****************/

.addLinkNav{
	background-color: #D9D1C6;
	border-bottom: 5px #BE6328 solid;
	border-top: 5px #BE6328 solid;
}

.addLinkNav{
	padding: 20px 0;
}

.addLinkNav li{
	padding: 10px 0;
}

.addLinkNav a{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.addLinkNav a:hover{
	text-decoration: underline;
}

.addInfoContainer{
	max-width: 500px;
	margin: 0 auto;

}

.addInfoContainer ul{
	list-style: square;
    margin: 0 30px;
    text-align: left;
}

.addInfoContainer li{
	margin: 10px 0;
}

.addInfoContainer h3{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: left;
    font-size: 1.1rem;
    padding: 20px 5px;
}

.addInfoContainer h4{
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: left;
    padding: 20px 10px;
}

.addInfoContainer p{
	text-align: left;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 15px;
}

.addInfoContainer a{
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.addInfoContainer a:hover{
	text-decoration: underline;
}

/***************

Media Responsive Queries

****************/


@media screen and (min-width: 768px) {
	#journal_header_container{
		align-items: center;
	}

	#journal_header_container nav{
		justify-content: center;
		background-color: #8FA698;

	}

	#main-menu{
		display:flex;
		flex-direction: row;
		justify-content: center;
		padding: 30px 10px;
	}
	
	#main-menu a{
		font-family: "neue-haas-grotesk-text", sans-serif;
		font-weight: 500;
		font-style: normal;
		display: inline-block;
		padding: 0 10px;
	}

	#main-menu li{
		display: inline-block;

	}

	.hamburger{
		display: none;
	}

	.topnav{
		display: none;
	}

	.main_logo{
		display: block;
		padding:10px;
		background: transparent;
	}

	#journal_header_container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: transparent;
	}

	.cover_container_welcome,
	.index-login,
	.index-logout{
		border: 5px #BE6328 solid;
		max-width: 60%;
		margin: 0 auto;
		padding: 70px;
		
	}

	.cover_container header{
		background-color: transparent;
	}

	.cover_container_welcome{
		margin: 50px auto;
	}

	.cover_container img{
		max-width: 40%;
		padding-bottom: 50px;
		padding-top: 50px;
	}

	.cover_container_welcome img{
		max-width: 60%;
		padding-bottom: 0;
	}

	.cover_container_welcome p{
		margin-bottom: 30px;
	}

	.journal_container header{
		background-color: transparent;
	}

	.addInfoContainer{
		max-width: 700px;
		margin: 0 auto;
	}

	footer,
	.welcome_footer{
		margin-top: 100px;
    	position: relative;
	}

	footer h4{
		padding: 0 10%;
	}

	.large_footer_nav{
		display: inline-block;
	}

	#footer a{
		padding: 0 10px;
	}

}

@media screen and (min-width: 1200px) {

	.cover_container img{
		max-width: 30%;
	}

	.cover_container_welcome img{
		max-width: 50%;
	}

	.cover_container_welcome,
	.index-login,
	.index-logout{
		max-width: 50%;
	}

	.main_logo{
		padding: 20px;
	}


}
